body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.anime-detail {
  border-radius: 0px;
  border: solid 1px #007efa;
  background-color: #c9dcfa;
  /* background-color: #86c4fa; */
  box-shadow: 0 0 10px 1px #007efa;
  padding: 5px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.btn {
  font-size: 10px;
}

.btn-group {
  margin: 10px;
}

.btn-detail {
  position: absolute;
  top: 0;
  right: 20px;
  margin: 10px;
}

.btn-favourite {
  position: absolute;
  visibility: hidden;
  top: 262px;
  left: 0px;
}

.btn-search {
  width: 150px;
}

.card {
  transition: 300ms;
}

.card:hover {
  background-color: #86c4fa;
  box-shadow: 0 0 10px 1px #007efa;
  transition: 500ms;
}

.card:hover .card-title {
  font-weight: bold;
  transform: scale(1.15);
  transition: 400ms;
}

.card:hover .card-img {
  transform: scale(1.15);
  border-radius: 0px;
  transition: 500ms;
}

.card:hover .btn-favourite {
  visibility: visible;
}

.card-img-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  transition: 500ms;
}

.card-img {
  overflow: hidden;
  height: 300px;
  transform: scale(1);
  transition: 300ms;
}

.card-img:hover {
  cursor: pointer;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 400ms;
}

.card-title:hover {
  cursor: pointer;
}

.card-text {
  position: inherit;
  bottom: 0px;
  font-size: 15px;
  text-align: left;
}

.favourite-title {
  color: #0c9eff;
  text-decoration: underline;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 45px;
}

.favourite-empty {
  margin-top: 70px;
}

.favourite-list {
  display: flex;
  justify-content: left;
}

.img-detail {
  text-align: center;
  width: 90%;
  margin-bottom: 20px;
}

.img-cover {
  text-align: center;
  width: 100%;
  height: 300px;
  box-shadow: 0 0 10px 1px #fff;
}

.loading, .loading-home-btn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-home-btn {
  top: 70%;
}

.page-title {
  margin: auto;
  width: 300px;
  color: #007efa;
  font-weight: bold;
  text-shadow: 5px 2px #aaffff;
  font-size: 60px;
}

.page-title:hover {
  cursor: pointer;
}

.page-title-menu, .active {
  font-size: 18px;
  font-weight: bold;
  color: #00a4b6;
  margin: 0px 5px;
  margin-bottom: 10px;
}

.page-title-menu:hover {
  color: #0079ad;
  text-decoration: none;
}

.page-title-menu:active {
  color: #0058af;
}

.active {
  color: #0058af;
}

.active:hover {
  text-decoration: none;
}

.star-rate {
  margin-left: 3px;
  margin-bottom: 5px;
}

.search-box {
  display: flex;
  justify-content: center;
  width: 94%;
  margin: auto;
}

.detail-info {
  display: flex;
}


/* For mobile phones: */
@media only screen and (max-width: 768px) {

  .btn-favourite {
    visibility: visible;
  }

  .detail-info {
    display: flex;
    flex-direction: column;
  }

  .favourite-list {
    display: flex;
    justify-content: center;
  }
  
  .img-cover {
    text-align: center;
    width: 100%;
    height: 200px;
    box-shadow: 0 0 10px 1px #fff;
  }

}